[Unit]
Description=HA Lights Controller (Python)
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/usr/bin/python3 /home/pi/py-ha-pi/main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target
